* {
    box-sizing:border-box;
}
body {
    margin:0px;
    background-image:url('../../images/bubble.png');
}

.container {
    width:1024px;
    margin: 0px auto;
    /* padding:10px; */
    background-color:rgba(0,255,0,0.1);
    border-left:1px solid darkgreen;
    border-right:1px solid darkgreen;

}
@font-face{
    font-family: christmas;
    src: url(Welcome_Christmas.otf);
    /* src: url(Welcome_Christmas.ttf); */
}

.header{
    font-family:christmas;
    text-decoration:none;
    color:green;
    font-weight:bold;
    font-size:50px;
    width:600px;
    margin:0px auto;
    text-align:center;
    display:block;
}


